<audio id="successSound" src="Sounds/positivo.mp3"></audio>
<audio id="errorSound" src="Sounds/negativo.mp3"></audio>
<div id="loader" class="cajaloader" [style.display]="loaderVisible ? 'block' : 'none'">
  <h1 id="cont" class="contador" [style.display]="counterVisible ? 'block' : 'none'"></h1>
  <div class="custom-loader"></div>
</div>
<div class="app-layout">
  <app-navbar-lateral></app-navbar-lateral>
  <div class="contenedor">
    <mat-card class="main-card">
      <div *ngIf="!isfichacomplete">
        <mat-card-content>
          <mat-card-title>Ficha tecnica</mat-card-title>
          <form [formGroup]="fichaTecnicaForm">
            <!-- Módulo 1: Información Personal -->
            <mat-card class="module-card">
              <mat-card-title>Información Basica</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'primerApellido',
                        'segundoApellido',
                        'nombres',
                        'tipodeidenticicacion',
                        'numerodeIdentificacion',
                        'fechaExpedicion',
                        'departamentoExpedicion',
                        'municipioExpedicion',
                        'genero',
                        'fechaNacimiento',
                        'departamentoDeNacimiento',
                        'municipioDeNacimiento',
                        'estadoCivil',
                        'direccion',
                        'barrio',
                        'ciudadDominicilio',
                        'departamentoDomicilio',
                        'celular',
                        'peso',
                        'diestroZurdo',
                        'rh',
                        'correoelectronico',
                        'sisbenestrato'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información Laboral</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'empresagrupoelite',
                        'codigoCompania',
                        'fechadeIngreso',
                        'sueldoBasico',
                        'sucursal',
                        'centrodeCosto',
                        'subCentrodeCosto',
                        'salarioIntegral',
                        'paradero',
                        'usaRuta',
                        'nombredelaRuta',
                        'tipoVinculacion',
                        'auxilioTransporte',
                        'valorAuxilioTransporte',
                        'CiudadLabor',
                        'clasificador2Categoria',
                        'clasificador3Operacion',
                        'clasificador4Sublador',
                        'clasificador2empresaTemporal',
                        'clasificador6grupo',
                        'clasificador7Subempresafactura',
                        'grupoForaneo',
                        'jefeInmediato',
                        'horasExtras',
                        'soloHorasDominicales',
                        'soloHorasFestivas',
                        'solorRecargoNocturnos',
                        'tipoContrato',
                        'duracionContrato',
                        'franjaVerde',
                        'banco',
                        'cuenta',
                        'beneficioCacninoFumigacion'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información salud y prestaciones</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'eps',
                        'afp',
                        'afc',
                        'cajaCompensacion',
                        'administradoreReisgosLaborales',
                        'porcentajeARL',
                        'pensionado',
                        'numeroderesolucion',
                        'numerodesemanasCotizadas'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card class="module-card">
              <mat-card-title>Información de requerida para el ingreso</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="let field of ['cargoNuevo', 'codigoQueReemplaza']">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de contacto de emergencia</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'apellidosYnombresEmergencia',
                        'numerodeContactoEmergencia'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de Academica</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'gradoEscolaridad',
                        'tituloObtenido',
                        'institucion',
                        'anoFinalizacion'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información Familiar</mat-card-title>
              <mat-card-content>
                <!-- Subgrupo: Información del Padre -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Padre</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreapellidoPadre',
                          'direccionPadre',
                          'vivepadre',
                          'barrioMunicipioPadre'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información de la Madre -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información de Madre</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreapellidoMadre',
                          'direccionMadre',
                          'viveMadre',
                          'ocupacionMadre',
                          'telefonoMadre',
                          'barrioMunicipioMadre'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información del Cónyuge -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Cónyuge</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreapellidoConyuge',
                          'direccionConyuge',
                          'viveConyuge',
                          'ocupacionConyuge',
                          'telefonoConyuge'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de los Hijos</mat-card-title>
              <mat-card-content>
                <!-- Subgrupo: Información del Hijo 1 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Hijo 1</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'apellidosynombresHijos1',
                          'fechaNacimientoHijos1',
                          'numerodeIdentificacionHijos1',
                          'sexoHijo1',
                          'edadHijo1',
                          'estudiaTrabajaHijo1',
                          'cursoHijo1',
                          'viveconeltrabajadorhijo1',
                          'estudiaenlafundacionhijo1',
                          'poseeAlgunaDiscapacidadHijo1',
                          'esEmpleadoDelasEmpresasHijo1',
                          'nombreOtroPadreHijo1',
                          'documentoIdentidadOtroPadreHijo1',
                          'otroPadreTrabajaenLaCompaniaHijo1',
                          'esHijastroHijo1',
                          'custodiaLegalHijo1'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información del Hijo 2 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Hijo 2</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'apellidosynombresHijos2',
                          'fechaNacimientoHijos2',
                          'numerodeIdentificacionHijos2',
                          'sexoHijo2',
                          'edadHijo2',
                          'estudiaTrabajaHijo2',
                          'cursoHijo2',
                          'viveconeltrabajadorhijo2',
                          'estudiaenlafundacionhijo2',
                          'poseeAlgunaDiscapacidadHijo2',
                          'esEmpleadoDelasEmpresasHijo2',
                          'nombreOtroPadreHijo2',
                          'documentoIdentidadOtroPadreHijo2',
                          'otroPadreTrabajaenLaCompaniaHijo2',
                          'esHijastroHijo2',
                          'custodiaLegalHijo2'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información del Hijo 3 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Hijo 3</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'apellidosynombresHijos3',
                          'fechaNacimientoHijos3',
                          'numerodeIdentificacionHijos3',
                          'sexoHijo3',
                          'edadHijo3',
                          'estudiaTrabajaHijo3',
                          'cursoHijo3',
                          'viveconeltrabajadorhijo3',
                          'estudiaenlafundacionhijo3',
                          'poseeAlgunaDiscapacidadHijo3',
                          'esEmpleadoDelasEmpresasHijo3',
                          'nombreOtroPadreHijo3',
                          'documentoIdentidadOtroPadreHijo3',
                          'otroPadreTrabajaenLaCompaniaHijo3',
                          'esHijastroHijo3',
                          'custodiaLegalHijo3'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información del Hijo 4 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Hijo 4</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'apellidosynombresHijos4',
                          'fechaNacimientoHijos4',
                          'numerodeIdentificacionHijos4',
                          'sexoHijo4',
                          'edadHijo4',
                          'estudiaTrabajaHijo4',
                          'cursoHijo4',
                          'viveconeltrabajadorhijo4',
                          'estudiaenlafundacionhijo4',
                          'poseeAlgunaDiscapacidadHijo4',
                          'esEmpleadoDelasEmpresasHijo4',
                          'nombreOtroPadreHijo4',
                          'documentoIdentidadOtroPadreHijo4',
                          'otroPadreTrabajaenLaCompaniaHijo4',
                          'esHijastroHijo4',
                          'custodiaLegalHijo4'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información del Hijo 5 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Hijo 5</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'apellidosynombresHijos5',
                          'fechaNacimientoHijos5',
                          'numerodeIdentificacionHijos5',
                          'sexoHijo5',
                          'edadHijo5',
                          'estudiaTrabajaHijo5',
                          'cursoHijo5',
                          'viveconeltrabajadorhijo5',
                          'estudiaenlafundacionhijo5',
                          'poseeAlgunaDiscapacidadHijo5',
                          'esEmpleadoDelasEmpresasHijo5',
                          'nombreOtroPadreHijo5',
                          'documentoIdentidadOtroPadreHijo5',
                          'otroPadreTrabajaenLaCompaniaHijo5',
                          'esHijastroHijo5',
                          'custodiaLegalHijo5'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información del Hijo 6 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información del Hijo 6</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'apellidosynombresHijos6',
                          'fechaNacimientoHijos6',
                          'numerodeIdentificacionHijos6',
                          'sexoHijo6',
                          'edadHijo6',
                          'estudiaTrabajaHijo6',
                          'cursoHijo6',
                          'viveconeltrabajadorhijo6',
                          'estudiaenlafundacionhijo6',
                          'poseeAlgunaDiscapacidadHijo6',
                          'esEmpleadoDelasEmpresasHijo6',
                          'nombreOtroPadreHijo6',
                          'documentoIdentidadOtroPadreHijo6',
                          'otroPadreTrabajaenLaCompaniaHijo6',
                          'esHijastroHijo6',
                          'custodiaLegalHijo6'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información Dotacion</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'tallachaqueta',
                        'tallaPantalon',
                        'tallaOverol',
                        'noCalzado',
                        'noBotasCuacho',
                        'noZapatones',
                        'noBotasMaterial'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de las Empresas</mat-card-title>
              <mat-card-content>
                <!-- Subgrupo: Información de la Empresa 1 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información de la Empresa 1</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreEmpresa1',
                          'direccionEmpresa1',
                          'telefonoEmpresa1',
                          'jefeInmediato1',
                          'cargo1',
                          'fechaDeRetiro1',
                          'motivoDeRetiro1'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información de la Empresa 2 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Información de la Empresa 2</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreEmpresa2',
                          'direccionEmpresa2',
                          'telefonoEmpresa2',
                          'jefeInmediato2',
                          'cargo2',
                          'fechaDeRetiro2',
                          'motivoDeRetiro2'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de Referencias Personales</mat-card-title>
              <mat-card-content>
                <!-- Subgrupo: Información de Referencia Personal 1 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Referencia Personal 1</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreReferenciapersonal1',
                          'telefonoReferenciapersonal1',
                          'ocupacionReferenciapersonal1'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información de Referencia Personal 2 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Referencia Personal 2</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreReferenciapersonal2',
                          'telefonoReferenciapersonal2',
                          'ocupacionReferenciapersonal2'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de Referencias Familiares</mat-card-title>
              <mat-card-content>
                <!-- Subgrupo: Información de Referencia Personal 1 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Referencia Personal 1</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreReferenciaFamiliar1',
                          'telefonoReferenciaFamiliar1',
                          'ocupacionReferenciaFamiliar1'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

                <!-- Subgrupo: Información de Referencia Personal 2 -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Referencia Personal 2</mat-card-subtitle>
                  <div fxLayout="row wrap" fxLayoutGap="20px">
                    <ng-container *ngFor="
                        let field of [
                          'nombreReferenciaFamiliar2',
                          'telefonoReferenciaFamiliar2',
                          'ocupacionReferenciaFamiliar2'
                        ]
                      ">
                      <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                        <mat-label>{{ fieldMapFichaTecnica[field] }}</mat-label>
                        <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información de Firma y Huella</mat-card-title>
              <mat-card-content>
                <!-- Subgrupo: Información de Firma y Huella -->
                <div fxLayout="column" fxLayoutGap="20px">
                  <mat-card-subtitle>Firma y Huella Digital</mat-card-subtitle>

                  <!-- Campo de Nombre y Apellidos -->
                  <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                    <mat-label>{{
                      fieldMapFichaTecnica["nombreyapellidos"]
                      }}</mat-label>
                    <input matInput [formControlName]="'nombreyapellidos'" [type]="getFieldType('nombreyapellidos')" />
                  </mat-form-field>

                  <!-- Campo de Número de Identificación -->
                  <mat-form-field appearance="fill" class="example-full-width" fxFlex="calc(50% - 20px)">
                    <mat-label>{{
                      fieldMapFichaTecnica["numerodeidentificacion"]
                      }}</mat-label>
                    <input matInput [formControlName]="'numerodeidentificacion'"
                      [type]="getFieldType('numerodeidentificacion')" />
                  </mat-form-field>

                  <!-- Campo de Huella Dactilar -->
                  <div fxFlex="calc(100% - 20px)">
                    <mat-card-subtitle>Captura de Huella Digital Indice
                      Derecho</mat-card-subtitle>

                    <button (click)="captureFingerprintID()">
                      Capturar Huella
                    </button>

                    <!-- Muestra el estado de la captura -->
                    <div *ngIf="message" class="status-message">
                      {{ message }}
                    </div>

                    <!-- Visualización de la imagen de la huella digital capturada, si está disponible -->
                    <div *ngIf="fingerprintImageID">
                      <h3>Huella Capturada:</h3>
                      <img [src]="fingerprintImageID" alt="Imagen de la huella digital" />
                    </div>
                  </div>
                  <div fxFlex="calc(100% - 20px)">
                    <mat-card-subtitle>Captura de Huella Digital Pulgar
                      Derecho</mat-card-subtitle>

                    <button (click)="captureFingerprintPD()">
                      Capturar Huella
                    </button>

                    <!-- Muestra el estado de la captura -->
                    <div *ngIf="message" class="status-message">
                      {{ message }}
                    </div>

                    <!-- Visualización de la imagen de la huella digital capturada, si está disponible -->
                    <div *ngIf="fingerprintImagePD">
                      <h3>Huella Capturada:</h3>
                      <img [src]="fingerprintImagePD" alt="Imagen de la huella digital" />
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

            <!-- Botón de envío -->
            <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 20px">
              <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
                Enviar
              </button>
            </div>
          </form>
        </mat-card-content>
      </div>
      <div *ngIf="!iscontratocomplete">
        <mat-card-content>
          <mat-card-title>Contrato</mat-card-title>
          <form [formGroup]="contratoForm">
            <mat-card class="module-card">
              <mat-card-title>Información Basica del contrato</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'representadoPor',
                        'NombredelTrabajador',
                        'fechaDeNacimiento',
                        'domicilioDelTrabajador',
                        'fechaDeInciacion',
                        'salarioMensualOrdinario',
                        'subsidioDeTransporte',
                        'formaDePago',
                        'nombreEmpresaUsuarioa',
                        'cargo',
                        'descripciondelaObraMotivotemporal',
                        'domicilioDelPatrono',
                        'TipoYNoidentificacion',
                        'correoelectronico'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldsContrato[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="module-card">
              <mat-card-title>Información trabajador y testigos</mat-card-title>
              <mat-card-content>
                <div fxLayout="row wrap" fxLayoutGap="20px">
                  <!-- Generación dinámica de campos -->
                  <ng-container *ngFor="
                      let field of [
                        'diadeTestigosContrato',
                        'TipoYNoidentificacion',
                        'testigo1NombreYcedula',
                        'testigo2NombreYcedula'
                      ]
                    ">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ fieldsContrato[field] }}</mat-label>
                      <input matInput [formControlName]="field" [type]="getFieldType(field)" />
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-card-content>
            </mat-card>
          </form>
        </mat-card-content>
      </div>
      <div *ngIf="!isEntregaDocumentosComplete">
        <mat-card-content>
          <mat-card-title>Entrega de documentos</mat-card-title>
          <form [formGroup]="entregaDeDocumentosForm">

            <!-- Documentos y tabla informativa -->
            <p class="form-text">1. Copia del Contrato Individual de Trabajo</p>
            <p class="form-text">2. Inducción General de nuestra Compañía e información General de la Empresa Usuaria,
              que
              incluye información sobre:</p>

            <table class="table">
              <thead>
                <tr>
                  <th>Empresa Usuaria</th>
                  <th>Fechas de Pago</th>
                  <th>Servicio de Casino</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data">
                  <td>{{ item.empresaUsuaria }}</td>
                  <td>{{ item.fechasDePago }}</td>
                  <td>
                    <div>Valor del almuerzo: $ {{ item.valorAlmuerzo }}</div>
                    <div>Descuento quincenal por Nómina y/o Liquidación Final</div>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Campos de selección y entradas -->
            <div fxLayout="column" fxLayoutGap="20px">
              <p class="form-text">Teniendo en cuenta la información anterior, autorizo el descuento del casino:</p>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descuento casino</mat-label>
                <mat-select [formControlName]="fieldEntregaDocumento['descuentoCasino']">
                  <mat-option *ngFor="let option of descuentoCasinoOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Forma de pago</mat-label>
                <mat-select [formControlName]="fieldEntregaDocumento['formadepago']">
                  <mat-option *ngFor="let option of formasdepagoOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Campos de entrada -->
              <mat-form-field *ngFor="let field of ['numerodecuenta', 'codigoTarjeta']" appearance="fill"
                class="example-full-width">
                <mat-label>{{ fieldEntregaDocumento[field] }}</mat-label>
                <input matInput [formControlName]="field" [type]="getFieldType(field)" />
              </mat-form-field>

              <!-- Mensaje de advertencia -->
              <p class="form-text">
                <strong>Importante:</strong> Recuerde que si usted cuenta con su forma de pago Daviplata, cualquier
                cambio realizado en la misma debe ser notificado a la empresa temporal. También tenga presente que la
                entrega de la tarjeta Master por parte de la empresa temporal es provisional, y se reemplaza por la
                forma
                de pago DAVIPLATA. Tan pronto como Davivienda nos informe que usted activó su DAVIPLATA, se le genera
                automáticamente el cambio de forma de pago. ¡CUIDADO! El manejo de estas cuentas es responsabilidad de
                usted como trabajador, por lo tanto, son personales e intransferibles.
              </p>

              <!-- Autorización de descuento -->
              <p class="form-text">Autorizo a la empresa temporal para que me realice el descuento de los valores</p>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Acepto cambio sin previo aviso</mat-label>
                <mat-select [formControlName]="fieldEntregaDocumento['aceptoCambioSinPrevioAviso']">
                  <mat-option *ngFor="let option of descuentoCasinoOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Información adicional -->
              <p class="form-text">3. Entrega y manejo del carné de la empresa de servicios temporales {{
                this.nombredelaTemporal }}</p>
              <p class="form-text">4. Capacitación de la Ley 1010 del 2006 (Acoso laboral) y mecanismos para interponer
                una
                queja general o frente al acoso</p>
              <p class="form-text">5. Socialización de la Política de Libertad de Asociación y Política de Igualdad
                Laboral y
                No Discriminación</p>
              <p class="form-text">6. Curso de Seguridad y Salud en el Trabajo "SST" de la Empresa Temporal</p>
              <p class="form-text">
                7. Se hace entrega de la documentación requerida para la vinculación de beneficiarios a la Caja de
                Compensación Familiar y se establece el compromiso de 15 días para la entrega de la documentación para
                la
                afiliación de beneficiarios de la Caja de Compensación y EPS, si aplica. De lo contrario, se entenderá
                que
                usted no desea recibir este beneficio. Recuerde que es su responsabilidad el registro de los mismos.
              </p>
              <p class="form-text">
                8. Plan funeral Cooserpark: AUTORIZO la afiliación y descuento VOLUNTARIO al plan, por un valor de
                $4.094,5
                descontados quincenalmente por nómina. La afiliación se hace efectiva a partir del primer descuento.
              </p>
              <p class="form-text">
                Nota: Si usted autorizó este descuento, debe presentar una carta en la oficina de la temporal
                solicitando el
                retiro para la desafiliación de este plan.
              </p>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Acepto cambio sin previo aviso</mat-label>
                <mat-select [formControlName]="fieldEntregaDocumento['planFuneral']">
                  <mat-option *ngFor="let option of descuentoCasinoOptions" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Información adicional sobre la página web -->
              <p class="form-text">
                <strong>Recuerde que:</strong> Puede encontrar esta información disponible en:
                <a href="http://www.apoyolaboralts.com" target="_blank">http://www.apoyolaboralts.com</a> ingresando el
                código:
                {{ this.codigopagina }}
              </p>

              <!-- Declaraciones del trabajador -->
              <p class="form-text">
                a. Por medio de la presente manifiesto que recibí lo anteriormente mencionado y que acepto el mismo.
              </p>
              <p class="form-text">
                b. Leí y comprendí el curso de inducción general y de seguridad y salud en el trabajo, así como el
                contrato
                laboral y todas las cláusulas y condiciones establecidas.
              </p>
              <p class="form-text">
                c. Información condiciones de salud: manifiesto que conozco los resultados de mis exámenes médicos de
                ingreso
                y las recomendaciones dadas por el médico ocupacional.
              </p>
              <mat-form-field
                *ngFor="let field of ['firmadeResponsabledeSocializacion', 'fechadeRecibido','nombreDeResponsable']"
                appearance="fill" class="example-full-width">
                <mat-label>{{ fieldEntregaDocumento[field] }}</mat-label>
                <input matInput [formControlName]="field" [type]="getFieldType(field)" />
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
      </div>








      <div>
        <!-- Campo de Firma Digital -->
        <mat-card class="module-card">
          <mat-card-title>Información de Firma del trabajador</mat-card-title>
          <mat-card-content>
            <app-signature-pad (signatureSaved)="onSignatureSavedtrabajador($event)"></app-signature-pad>
            <!-- Resto del contenido -->
          </mat-card-content>
        </mat-card>
      </div>

      <div>
        <!-- Campo de Firma Digital -->
        <mat-card class="module-card">
          <mat-card-title>Información de Firma del del testigo 1</mat-card-title>
          <mat-card-content>
            <app-signature-pad (signatureSaved)="onSignatureSavedTestigo1($event)"></app-signature-pad>
            <!-- Resto del contenido -->
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <!-- Campo de Firma Digital -->
        <mat-card class="module-card">
          <mat-card-title>Información de Firma del del testigo 2</mat-card-title>
          <mat-card-content>
            <app-signature-pad (signatureSaved)="onSignatureSavedTestigo2($event)"></app-signature-pad>
            <!-- Resto del contenido -->
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </div>

</div>
