<audio id="successSound" src="Sounds/positivo.mp3"></audio>
<audio id="errorSound" src="Sounds/negativo.mp3"></audio>




<div class="app-layout">
  <app-navbar-lateral></app-navbar-lateral>
  <div class="contenedor">
    <app-navbar-superior></app-navbar-superior>
    <mat-card class="main-card">
      <mat-card-content>
        <!-- Contenedor para los botones y fechas -->
        <div class="filter-header">
          <!-- Botón para desplegar el filtro -->
          <button mat-raised-button color="primary" (click)="toggleFilter()">
            Filtros
          </button>

          <!-- Botón para descargar el reporte -->
          <app-info-card title="Descargar Reporte" imageUrl="comun/excel.png" (click)="downloadExcel()"
            class="download-button">
          </app-info-card>

          <!-- Formulario para la fecha de inicio -->
          <form [formGroup]="myForm" (ngSubmit)="applyDateFilter()" class="filter-form">
            <mat-form-field appearance="fill">
              <mat-label>Fecha de inicio de reporte</mat-label>
              <input matInput [matDatepicker]="fecha_de_inicio_de_reporte"
                formControlName="confirmacion_fecha_de_radicacion_inicio" placeholder="MM/DD/YYYY" />
              <mat-datepicker-toggle matSuffix [for]="fecha_de_inicio_de_reporte"></mat-datepicker-toggle>
              <mat-datepicker #fecha_de_inicio_de_reporte></mat-datepicker>
              <mat-error *ngIf="myForm.get('confirmacion_fecha_de_radicacion_inicio')?.hasError('required')">
                La fecha de inicio es requerida.
              </mat-error>
            </mat-form-field>

            <!-- Botón para aplicar el filtro -->
            <button mat-raised-button color="primary" type="submit">
              Aplicar Filtro
            </button>
          </form>
        </div>

        <!-- Contenedor del filtro que se despliega y colapsa -->
        <div class="filter-container" [ngClass]="{ 'collapsed': isFilterCollapsed, 'expanded': !isFilterCollapsed }">
          <h3>Filtros de Incapacidades</h3>

          <!-- Filtro por Número de Documento -->
          <mat-form-field appearance="fill">
            <mat-label>Número de Documento</mat-label>
            <input matInput [(ngModel)]="filterCriteria.numeroDeDocumento" placeholder="Número de Documento">
          </mat-form-field>

          <!-- Filtro por Fecha de Inicio -->
          <mat-form-field appearance="fill">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [(ngModel)]="filterCriteria.fechaInicio" placeholder="YYYY-MM-DD" type="date">
          </mat-form-field>

          <!-- Filtro por Empresa -->
          <mat-form-field appearance="fill">
            <mat-label>Temporal</mat-label>
            <mat-select [(ngModel)]="filterCriteria.temporal">
              <mat-option *ngFor="let option of temporales" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Filtro por Tipo de Incapacidad -->
          <mat-form-field appearance="fill">
            <mat-label>Tipo de Incapacidad</mat-label>
            <mat-select [(ngModel)]="filterCriteria.tipoIncapacidad">
              <mat-option *ngFor="let tipo of tiposIncapacidad" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="applyFilter()">Aplicar Filtro</button>
        </div>

        <!-- Tabla de Búsqueda de Incapacidades -->
        <div class="tabla">
          <h1 class="title">Lista de Incapacidades</h1>
          <div class="table-container">
            <table mat-table [dataSource]="dataSourceTable1" class="mat-elevation-z8"
              aria-label="Tabla de búsqueda de incapacidades">
              <!-- Definición de las columnas para la tabla de búsqueda de incapacidades -->
              <ng-container *ngFor="let column of ColumnsTable1" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef> {{ toTitleCase(column, columnTitlesTable1) }} </th>
                <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
              </ng-container>

              <!-- Fila de encabezado -->
              <tr mat-header-row *matHeaderRowDef="ColumnsTable1"></tr>
              <!-- Fila de datos -->
              <tr mat-row *matRowDef="let row; columns: ColumnsTable1;"></tr>
              <!-- Fila para cuando no hay datos -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="22">No hay datos disponibles</td>
              </tr>
            </table>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <!-- Tabla de Información del Reporte -->
        <div class="tabla">
          <h1 class="title">Información Reportes</h1>
          <div class="table-container">
            <table mat-table [dataSource]="dataSourceTable4" class="mat-elevation-z8"
              aria-label="Tabla de información del reporte">
              <!-- Definición de las columnas para la tabla de información del reporte -->
              <ng-container *ngFor="let column of displayedColumnsTable4" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef> {{ toTitleCase(column, columnTitlesTable4) }} </th>
                <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
              </ng-container>

              <!-- Fila de encabezado -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsTable4"></tr>
              <!-- Fila de datos -->
              <tr mat-row *matRowDef="let row; columns: displayedColumnsTable4;"></tr>
              <!-- Fila para cuando no hay datos -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="22">No hay datos disponibles</td>
              </tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
