<audio id="successSound" src="Sounds/positivo.mp3"></audio>
<audio id="errorSound" src="Sounds/negativo.mp3"></audio>

<!-- Overlay para loader -->
<div id="overlay" class="loader-overlay" *ngIf="overlayVisible"></div>

<!-- Loader -->
<div id="loader" class="cajaloader" *ngIf="loaderVisible">
  <h1 id="cont" class="contador" *ngIf="counterVisible"></h1>
  <div class="custom-loader"></div>
</div>

<!-- Input oculto para carga de archivos -->
<input
  id="fileInput"
  type="file"
  (change)="cargarExcel($event)"
  accept=".xlsx, .xls"
  multiple
  style="display: none"
/>

<div class="dashboard-container">
  <div class="navbar"></div>
  <app-navbar-lateral
    [class.sidebar-hidden]="isSidebarHidden"
  ></app-navbar-lateral>
  <div class="dashboard-content">
    <app-navbar-superior></app-navbar-superior>
    <mat-card>
      <h3 class="titulo">Carga de archivos para incapacidades</h3>

      <mat-card-content>
        <!-- Botón tipo "tarjeta" que abre el diálogo de selección de archivo -->
        <app-info-card
          [title]="'Cargar códigos diagnósticos'"
          imageUrl="comun/excel.png"
          (click)="triggerFileInput2()"
          style="cursor: pointer"
        >
        </app-info-card>

        <!-- Input oculto para recibir el archivo Excel -->
        <input
          id="fileInputDiag"
          type="file"
          accept=".xlsx,.xls"
          style="display: none"
          (change)="onFileChange($event)"
        />

        <div class="cards">
          <!-- Botones para cargar archivos -->
          <ng-container *ngFor="let file of fileList">
            <div class="conjunto">
              <!-- Botón para subir archivo -->
              <app-info-card
                [title]="file.title"
                imageUrl="comun/excel.png"
                (click)="triggerFileInput()"
                style="cursor: pointer"
              >
              </app-info-card>

              <!-- Botón para descargar archivo asociado -->
              <button mat-flat-button (click)="downloadFile(file.filename)">
                <mat-icon>download</mat-icon>
                Descargar {{ file.title }}
              </button>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
