.titulo {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
}

mat-card{
    margin-top: 10pt;
}


.split-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    height: 400px;
}

.left-panel {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
}

.right-panel {
    flex: 2;
    padding: 16px;
    border: 1px solid #ddd;
}

.document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}