.titulo {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
}

.cajonFirma {
    margin: 0 auto;
}

.firma {
    border: 1px solid #ccc;
    width: 70vw;
    margin-bottom: 30px;
}

mat-error {
    line-height: 1.1;
}

.error {
    font-size: 0.8rem;
    max-width: 30%;
    margin-left: 6pt;
    display: inline-block;
    /* Evita que ocupe toda la línea */

}

.boton {
    width: 48%;
    height: 40pt;
    border-radius: 5pt;
}

.cajonFirma {
    margin-bottom: 10pt;
}

.info {
    margin-top: 20px;
    width: 100%;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.seleccion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

mat-card:nth-child(1) {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 30%;
    margin: 10px;
    position: sticky;
    top: 10px;
}

.example-full-width {
    min-width: 80%;
}

.example-full-width2 {
    width: 100%;
}

.example-full-width3 {
    width: 30%;
    margin: 8px;
}

.example-full-width4 {
    width: 47%;
    margin: 5px;
}



mat-card:nth-child(2) {
    width: 60%;
    overflow-y: auto;
    margin: 10px;
}


/*------------------------------------------------------*/

.opcionesVer {
    width: 72vw;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    margin: 0 auto;
    margin-bottom: 10pt;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

mat-card-title,
mat-card-subtitle {
    font-weight: bold;
    font-size: 13pt;
}

mat-card-subtitle {
    margin-bottom: 10px;
}

.actions-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.vacantes-scroll-container {
    overflow-x: auto;
    /* Permite el scroll horizontal */
    padding: 10px;
}

.vacantes-container {
    display: flex;
    gap: 16px;
    /* Espacio entre las tarjetas */
    flex-wrap: nowrap;
    /* Evita que las tarjetas se envuelvan a la siguiente línea */
}

.vacante-card {
    min-width: 300px;
    max-width: 350px;
    /* Ancho mínimo de cada tarjeta */
    flex-shrink: 0;
    /* Evita que se reduzcan las tarjetas */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.actions-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.fixed-button {
    background-color: white;
    box-shadow: none;
}


.btn-with-arrow {
    margin-top: 10pt;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200pt;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1976d2;
    /* Color azul del botón */
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.text {
    margin-right: auto;
    /* Empuja el texto hacia la izquierda */
    text-align: left;
}

.arrow {
    margin-left: 10px;
    /* Espaciado entre texto y flecha */
    display: flex;
    align-items: center;
}




/*-----------------------------------*/

.seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea el contenido a la izquierda para mejorar la apariencia */
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    /* Añade un pequeño espacio entre los elementos para mayor claridad */
}

.input-container mat-form-field {
    flex: 1 1 200px;
    /* Permite que el campo de formulario crezca pero tenga un tamaño mínimo */
    min-width: 200px;
    max-width: 100%;
    /* Asegura que no se desborde en pantallas más pequeñas */
}

.input-container button {
    margin-right: 8px;
}

.uploaded-file-name {
    display: block;
    width: 100%;
    margin-top: -8px;
    font-size: 0.85rem;
    color: #666;
    word-wrap: break-word;
    font-style: italic;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {

    .seccion {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .input-container {
        justify-content: center;
        /* Centra el contenido en pantallas pequeñas */
        gap: 5px;
    }

    .input-container mat-form-field {
        flex: 1 1 150px;
        /* Reduce el tamaño mínimo en pantallas pequeñas */
        min-width: 150px;
    }

    mat-card:nth-child(1),
    mat-card:nth-child(2) {
        width: 90vw;
        margin: 10px;
        position: static;
        /* Permite que los elementos sean más fluidos en móviles */
    }

    .opcionesVer {
        width: 90vw;
    }

    .uploaded-file-name {
        font-size: 0.75rem;
        /* Ajusta el tamaño del texto para que se vea mejor en pantallas pequeñas */
    }

    mat-expansion-panel-header {
        min-height: 35pt;
        height: auto;
    }

    mat-expansion-panel {
        margin-bottom: 5pt;
        height: auto;
    }

    .vacante-card {
        min-width: 70vw;
    }

    .example-full-width3 {
        width: 100%;
        margin: 5px;
    }

}



.campo-validar {
    background-color: yellow;
    /* Fondo amarillo */
    padding: 10px;
    /* Opcional: Espaciado para mejor apariencia */
    border-radius: 5px;
    /* Opcional: Bordes redondeados */
}

mat-option {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.fingerprint-card {
    margin: 16px 0;
    border-radius: 8px;
    padding: 16px;
    width: 65% !important;
    /* quitar box-shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.card2{
    margin-left: 8pt;
}



.main-container {
    display: flex;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: fit-content;
}

.status-message {
    font-size: 14px;
    color: #1976d2;
    display: flex;
    align-items: center;
}

.status-message mat-icon {
    margin-right: 8px;
    color: #4caf50;
    /* Verde para indicar éxito */
}

.fingerprint-image-container img {
    margin-left: 10pt;
    width: 100pt;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
