.titulo {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
}

.cajonFirma {
    margin: 0 auto;
}

.firma {
    border: 1px solid #ccc;
    width: 70vw;
    margin-bottom: 30px;
}

.boton{
    width: 45%;
    height: 40pt;
    border-radius: 5pt;
}



