<div class="dashboard-container">
    <div class="navbar"></div>
    <app-navbar-lateral [class.sidebar-hidden]="isSidebarHidden"></app-navbar-lateral>
    <div class="dashboard-content">
        <app-navbar-superior></app-navbar-superior>
        <mat-card>
            <mat-card-content>
                <!-- Campo para codigo de contrato -->
                <form [formGroup]="form">
                    <mat-form-field class="example-full-width3">
                        <mat-label>Codigo de contrato</mat-label>
                        <input matInput formControlName="codigo_contrato" placeholder="Ingrese el número de documento">
                    </mat-form-field>
                    <button mat-flat-button (click)="imprimirDocumento()" style="margin-left: 15pt;">
                        Buscar
                    </button>
                </form>
                <strong *ngIf="cedulaEncontrada">Nombre del operario: </strong> {{nombreCompleto}}

                <!-- Campo para la firma -->
                <div class="cajonFirma" *ngIf="cedulaEncontrada">
                    <h1 class="titulo">Firma</h1>
                    <canvas #firmaCanvas width="400" height="150" class="firma"></canvas>
                    <button mat-flat-button (click)="guardarFirma()" class="boton">Guardar Firma</button>
                    <button mat-flat-button color="warn" (click)="limpiarFirma()" class="boton">Limpiar Firma</button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>