<div class="app-layout">
  <app-navbar-lateral></app-navbar-lateral>
  <div class="contenedor">
    <app-navbar-superior></app-navbar-superior>

    
    <mat-accordion>
      <mat-expansion-panel class="opcionesVer">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vacantes Disponibles
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <!-- Buscador para filtrar vacantes -->
        <mat-form-field  class="example-full-width">
          <mat-label>Buscar Vacante</mat-label>
          <input matInput [(ngModel)]="filtro" placeholder="Buscar por título, oficina, etc." />
        </mat-form-field>
        <!-- Contenedor de vacantes con scroll horizontal -->
        <div class="vacantes-scroll-container">
          <div class="vacantes-container">
            <mat-card class="vacante-card" *ngFor="let vacante of filtrarVacantes()">
              <mat-card-header>
                <div mat-card-avatar class="vacante-icon">
                  <mat-icon>work_outline</mat-icon>
                </div>
                <mat-card-title>{{ vacante.Cargovacante_id }}</mat-card-title>
                <mat-card-subtitle>{{ vacante.Localizaciondelavacante }}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <p><strong>Temporal:</strong> {{ vacante.empresaQueSolicita_id }}</p>
                <p><strong>Oficina:</strong> {{ vacante.localizacionDeLaPersona }}</p>
                <p><strong>Experiencia Requerida:</strong> {{ vacante.experiencia }}</p>
              </mat-card-content>

              <!-- Menu button for actions -->
              <div class="actions-wrapper">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="fixed-button">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                  <!-- Botón para escoger vacante -->
                  <button mat-menu-item (click)="escogerVacante(vacante)">
                    <mat-icon>check_circle</mat-icon>
                    <span>Escoger</span>
                  </button>
                </mat-menu>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <!-- Tarjeta para búsqueda de cédula -->
    <div class="seleccion">
      <mat-card>
        <mat-card-content>
          <h1 class="titulo" style="margin-right: 10px; width: 100%;">
            Ingrese la cédula del usuario a buscar:
          </h1>
          <!-- Campo de texto para cédula -->
          <mat-form-field appearance="fill" class="example-full-width2" style="margin-left: 0;">
            <mat-label>Cédula</mat-label>
            <input matInput type="text" [(ngModel)]="cedula" placeholder="Cédula">
          </mat-form-field>
          <!-- Botón de búsqueda -->
          <button mat-flat-button (click)="buscarCedula()" class="example-full-width" style="margin-top: -5px;">
            Buscar
          </button>
          <!-- Imagen informativa -->
          <img src="comun/image.png" (click)="abrirModal()" alt="info" class="info" *ngIf="infoGeneral">

        </mat-card-content>
      </mat-card>

      <mat-card>
        <h1 class="titulo" style="margin-right: 10px; width: 100%;">
          Dilegencie los campos correspondientes:
        </h1>
        <mat-card-content>

          <!-- Accordion Sections -->
          <mat-accordion>
            <!-- Verificaciones y Área de Aplicación -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Verificaciones y Área de Aplicación
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>EPS</mat-label>
                  <input matInput type="text" id="eps" placeholder="EPS">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>AFP</mat-label>
                  <input matInput type="text" id="afp" placeholder="AFP">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Policivos</mat-label>
                  <input matInput type="text" id="policivos" placeholder="POLICIVOS">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Procuraduría</mat-label>
                  <input matInput type="text" id="procuraduria" placeholder="PROCURADURIA">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Contraloría</mat-label>
                  <input matInput type="text" id="contraloria" placeholder="CONTRALORIA">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Rama Judicial</mat-label>
                  <input matInput type="text" id="ramaJudicial" placeholder="RAMA JUDICIAL">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Medidas Correctivas</mat-label>
                  <input matInput type="text" id="medidasCorrectivas" placeholder="MEDIDAS CORRECTIVAS">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Área para la que aplica</mat-label>
                  <input matInput type="text" id="areaAplica" placeholder="Área para la que aplica">
                </mat-form-field>
                <button mat-flat-button class="example-full-width" id="botonParte1">Cargar</button>
              </div>
            </mat-expansion-panel>

            <!-- Entrevista o Prueba Técnica -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Entrevista o Prueba Técnica
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Centro de Costo</mat-label>
                  <input matInput type="text" id="centroCosto"
                    placeholder="CENTRO DE COSTO ENTREVISTA O PRUEBA TECNICA">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Cargo</mat-label>
                  <input matInput type="text" id="cargo" placeholder="CARGO">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Área en la que presentará la entrevista</mat-label>
                  <input matInput type="text" id="areaEntrevista" placeholder="ÁREA EN LA QUE PRESENTARA LA ENTREVISTA">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Fecha de la Prueba o Entrevista</mat-label>
                  <input matInput type="date" id="fechaPruebaEntrevista">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Hora de la Prueba o Entrevista</mat-label>
                  <input matInput type="time" id="horaPruebaEntrevista">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Dirección o indicación para llegar a la empresa</mat-label>
                  <input matInput type="text" id="direccionEmpresa"
                    placeholder="DIRECCION O INDICACION PARA LLEGAR A LA EMPRESA">
                </mat-form-field>
                <button mat-flat-button class="example-full-width" id="botonParte2">Cargar</button>
              </div>
            </mat-expansion-panel>

            <!-- Examen de Salud Ocupacional -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Examen de Salud Ocupacional
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Examen Salud Ocupacional</mat-label>
                  <input matInput type="text" id="examenSaludOcupacional" placeholder="Examen Salud Ocupacional">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>IPS</mat-label>
                  <input matInput type="text" id="ips" placeholder="IPS">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Laboratorios</mat-label>
                  <input matInput type="text" id="laboratorios" placeholder="Laboratorios">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>IPSLAB</mat-label>
                  <input matInput type="text" id="ipsLab" placeholder="IPSLAB">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Apto para el cargo (Sí/No)</mat-label>
                  <input matInput type="text" id="aptoCargo" placeholder="APTO PARA EL CARGO SI/NO">
                </mat-form-field>
                <button mat-flat-button class="example-full-width" id="botonParte3">Cargar</button>
              </div>
            </mat-expansion-panel>

            <!-- Contratación -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Contratación
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Empresa Usuaria</mat-label>
                  <input matInput type="text" id="empresaUsuaria" placeholder="EMPRESA USUARIA">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Fecha de Ingreso</mat-label>
                  <input matInput type="date" id="fechaIngreso">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Salario</mat-label>
                  <input matInput type="text" id="salario" placeholder="SALARIO">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Auxilio de Transporte</mat-label>
                  <input matInput type="text" id="auxTransporte" placeholder="AUXTRANSPORTE">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Rodamiento</mat-label>
                  <input matInput type="text" id="rodamiento" placeholder="RODAMIENTO">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Auxilio de Movilidad</mat-label>
                  <input matInput type="text" id="auxMovilidad" placeholder="AUX MOVILIDAD">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Bonificación</mat-label>
                  <input matInput type="text" id="bonificacion" placeholder="BONIFICACION">
                </mat-form-field>
                <button mat-flat-button class="example-full-width" id="botonParte4">Cargar</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>