<div class="dashboard-container">
  <div class="navbar">

  </div>
  <app-navbar-lateral [class.sidebar-hidden]="isSidebarHidden"></app-navbar-lateral>
  <div class="dashboard-content">
    <app-navbar-superior></app-navbar-superior>


    <!---- !-- Tarjeta para búsqueda de cédula
    <mat-accordion *ngIf="procesoValido">
    -->

    <mat-accordion>
      <mat-expansion-panel class="opcionesVer">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vacantes Disponibles
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Buscador para filtrar vacantes -->
        <mat-form-field class="example-full-width">
          <mat-label>Buscar Vacante</mat-label>
          <input matInput [(ngModel)]="filtro" placeholder="Buscar por título, oficina, etc." />
        </mat-form-field>
        <!-- Contenedor de vacantes con scroll horizontal -->
        <div class="vacantes-scroll-container">
          <div class="vacantes-container">
            <mat-card class="vacante-card" *ngFor="let vacante of filtrarVacantes()">
              <mat-card-header>
                <div mat-card-avatar class="vacante-icon">
                  <mat-icon>work_outline</mat-icon>
                </div>
                <mat-card-title>{{ vacante.Cargovacante_id }}</mat-card-title>
                <mat-card-subtitle>{{ vacante.Localizaciondelavacante }}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <p><strong>Temporal:</strong> {{ vacante.empresaQueSolicita_id }}</p>
                <p><strong>Oficina:</strong> {{ vacante.localizacionDeLaPersona }}</p>
                <p><strong>Experiencia Requerida:</strong> {{ vacante.experiencia }}</p>
              </mat-card-content>

              <!-- Menu button for actions -->
              <div class="actions-wrapper">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="fixed-button">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                  <!-- Botón para escoger vacante -->
                  <button mat-menu-item (click)="escogerVacante(vacante)">
                    <mat-icon>check_circle</mat-icon>
                    <span>Escoger</span>
                  </button>
                </mat-menu>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Acordeón principal que contiene todos los sub-acordeones 
    <mat-accordion *ngIf="procesoValido">
    -->
    <mat-accordion>

      <!-- Acordeón principal: Información Adicional -->
      <mat-expansion-panel class="opcionesVer">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Información de Ayuda
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion>

          <!-- Acordeón: Info Personal -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Info Personal
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="infoPersonalForm">
              <div class="info-personal">
                <!-- Oficina -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Oficina</mat-label>
                  <input matInput formControlName="oficina" readonly />
                </mat-form-field>

                <!-- Tipo de documento y número de cédula -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Tipo de Documento</mat-label>
                  <input matInput formControlName="tipodedocumento" readonly />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Número de Cédula</mat-label>
                  <input matInput formControlName="numerodecedula" readonly />
                </mat-form-field>

                <!-- Nombre, celular, WhatsApp y género -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Nombre y Apellidos</mat-label>
                  <input matInput formControlName="nombreCompleto" readonly />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Celular</mat-label>
                  <input matInput formControlName="celular" />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Número WhatsApp</mat-label>
                  <input matInput formControlName="whatsapp" />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Género</mat-label>
                  <input matInput formControlName="genero" />
                </mat-form-field>

                <!-- Edad y Fecha de Nacimiento -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Edad</mat-label>
                  <input matInput formControlName="edad" readonly />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput formControlName="fechaNacimiento" readonly />
                </mat-form-field>

                <!-- Barrio y experiencia -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Barrio</mat-label>
                  <input matInput formControlName="barrio" />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Cuenta con experiencia en flores</mat-label>
                  <input matInput formControlName="tieneExperienciaFlores" />
                </mat-form-field>

                <!-- Referencias y cómo se enteró -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Viene referenciado por alguna de estas fincas</mat-label>
                  <mat-select formControlName="referenciado">
                    <mat-option value="si">Sí</mat-option>
                    <mat-option value="no">No</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Cómo se enteró de la vacante</mat-label>
                  <input matInput formControlName="comoSeEntero" />
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>

          <!-- Acordeón: Entrevista -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Entrevista
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="entrevistaForm">
              <div class="entrevista">
                <!-- ¿Se presentó a entrevista? -->
                <mat-form-field class="example-full-width3">
                  <mat-label>¿Se presentó a entrevista?</mat-label>
                  <mat-select formControlName="presentoEntrevista">
                    <mat-option value="si">Sí</mat-option>
                    <mat-option value="no">No</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>EPS</mat-label>
                  <mat-select formControlName="eps" placeholder="EPS">
                    <mat-option *ngFor="let eps of epsList" [value]="eps">{{ eps }}</mat-option>
                  </mat-select>
                </mat-form-field>



                <mat-form-field class="example-full-width3">
                  <mat-label>Revisión de antecedentes</mat-label>
                  <input matInput formControlName="revisionAntecedentes"
                    placeholder="Escribe si pasó la revisión de antecedentes" />
                </mat-form-field>

                <!-- Labores realizadas -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Labores realizadas</mat-label>
                  <input matInput formControlName="laboresRealizadas" />
                </mat-form-field>

                <!-- Empresas en las que ha laborado -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Empresas en las que ha laborado</mat-label>
                  <input matInput formControlName="empresasLaborado" />
                </mat-form-field>

                <!-- Tiempo de experiencia, Nivel de escolaridad, N° de Hijos y Edades, Quién los cuida -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Tiempo de experiencia</mat-label>
                  <input matInput formControlName="tiempoExperiencia" />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Nivel de escolaridad</mat-label>
                  <input matInput formControlName="escolaridad" />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>N° de Hijos y Edades</mat-label>
                  <input matInput formControlName="numHijos" />
                </mat-form-field>

                <mat-form-field class="example-full-width3">
                  <mat-label>Quién los cuida</mat-label>
                  <input matInput formControlName="quienLosCuida" />
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>

          <!-- Acordeón: Observaciones -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Observaciones
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="observacionesForm">
              <div class="observaciones">
                <!-- Observación de la novedad -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Observación de la novedad</mat-label>
                  <input matInput formControlName="observacionNovedad" placeholder="Escribe si aplica o no aplica" />
                </mat-form-field>

                <!-- Observación del evaluador -->
                <mat-form-field class="example-full-width3">
                  <mat-label>Observación del evaluador</mat-label>
                  <input matInput formControlName="observacionEvaluador"
                    placeholder="Escribe la observación del evaluador" />
                </mat-form-field>
              </div>
            </form>
          </mat-expansion-panel>

          <!-- Acordeón: Vacantes -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vacantes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="vacantesForm">
              <div class="vacantes">

                <!-- Centro de Costo -->
                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>Centro de Costo</mat-label>
                  <input matInput formControlName="centroCosto" readonly />
                </mat-form-field>

                <!-- Cargo -->
                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>Cargo</mat-label>
                  <input matInput formControlName="cargo" readonly />
                </mat-form-field>

                <!-- Fecha de Prueba o Entrevista -->
                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>Fecha de Prueba o Entrevista</mat-label>
                  <input matInput formControlName="fechaPruebaEntrevista" readonly />
                </mat-form-field>

                <!-- Hora de Prueba o Entrevista -->
                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>Hora de Prueba o Entrevista</mat-label>
                  <input matInput formControlName="horaPruebaEntrevista" readonly />
                </mat-form-field>

                <!-- Por quién pregunta -->
                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>Por quién pregunta</mat-label>
                  <input matInput formControlName="porQuienPregunta" placeholder="Escribe el nombre de la persona" />
                </mat-form-field>

                <!-- Retroalimentación final -->
                <mat-form-field appearance="fill" class="example-full-width3">
                  <mat-label>Retroalimentación final</mat-label>
                  <textarea matInput formControlName="retroalimentacionFinal"
                    placeholder="Escribe la retroalimentación final"></textarea>
                </mat-form-field>

              </div>
            </form>
          </mat-expansion-panel>


        </mat-accordion>

      </mat-expansion-panel>
    </mat-accordion>


    <!-- Tarjeta para búsqueda de cédula -->
    <div class="seleccion">

      <mat-card>
        <mat-card-content>
          <h1 class="titulo" style="margin-right: 10px; width: 100%;">
            Ingrese la cédula del usuario a buscar:
          </h1>
          <!-- Campo de texto para cédula -->
          <mat-form-field appearance="fill" class="example-full-width2" style="margin-left: 0;">
            <mat-label>Cédula</mat-label>
            <input matInput type="text" [(ngModel)]="cedula" placeholder="Cédula">
          </mat-form-field>
          <!-- Botón de búsqueda -->
          <button mat-flat-button (click)="buscarCedula()" class="example-full-width" style="margin-top: -5px;">
            Buscar
          </button>
          <!-- Imagen informativa 
          <img src="comun/image.png" (click)="abrirModal()" alt="info" class="info" *ngIf="infoGeneral">
          -->

          <br> <br>
          <!-- Boton para reportar -->
          <!-- Botón para reportar -->
          <button mat-flat-button (click)="mostrarCampoObservacion()" class="example-full-width"
            style="margin-top: -5px;" *ngIf="!mostrarObservacion && procesoValido">
            Reportar
          </button>


          <!-- Campo de texto y botón para enviar observación -->
          <div *ngIf="mostrarObservacion">
            <mat-form-field appearance="fill" class="example-full-width2" style="margin-left: 0;">
              <mat-label>Escriba su observación</mat-label>
              <textarea matInput [(ngModel)]="observacion" placeholder="Escriba su observación aquí"></textarea>
            </mat-form-field>

            <button mat-flat-button (click)="enviarObservacion()" class="example-full-width" style="margin-top: -5px;">
              Enviar Observación
            </button>
          </div>


        </mat-card-content>
      </mat-card>


      <!--
        <mat-card *ngIf="procesoValido">
        -->
      <mat-card>

        <h1 class="titulo" style="margin-right: 10px; width: 100%;">
          Diligencie los campos correspondientes:
        </h1>
        <mat-card-content>

          <!-- Accordion Sections -->
          <mat-accordion>

            <!-- Verificaciones y Área de Aplicación -->
            <mat-expansion-panel>
              <mat-expansion-panel-header [ngStyle]="{'background-color': getPanelColor(getPercentage(formGroup1))}">
                <mat-panel-title>
                  Verificaciones y Área de Aplicación ({{ getPercentage(formGroup1) }}% completo)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion" [formGroup]="formGroup1">

                <!-- EPS -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuEps" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuEps="matMenu">
                    <button mat-menu-item (click)="verArchivo('eps')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputEps" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputEps" style="display: none;" (change)="subirArchivo($event, 'eps')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>EPS</mat-label>
                    <mat-select formControlName="eps" placeholder="EPS">
                      <mat-option *ngFor="let eps of epsList" [value]="eps">{{ eps }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['eps']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['eps'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['eps'].fileName }}
                  </small>

                </div>

                <!-- AFP -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuAfp" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuAfp="matMenu">
                    <button mat-menu-item (click)="verArchivo('afp')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputAfp" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputAfp" style="display: none;" (change)="subirArchivo($event, 'afp')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>AFP</mat-label>
                    <mat-select formControlName="afp" placeholder="AFP">
                      <mat-option *ngFor="let afp of afpList" [value]="afp">{{ afp }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['afp']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['afp'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['afp'].fileName }}
                  </small>
                </div>

                <!-- Policivos -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuPolicivos" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuPolicivos="matMenu">
                    <button mat-menu-item (click)="verArchivo('policivos')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputPolicivos" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputPolicivos" style="display: none;"
                      (change)="subirArchivo($event, 'policivos')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Policivos</mat-label>
                    <mat-select formControlName="policivos">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['policivos']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['policivos'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['policivos'].fileName }}
                  </small>
                </div>

                <!-- Procuraduría -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuProcuraduria" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuProcuraduria="matMenu">
                    <button mat-menu-item (click)="verArchivo('procuraduria')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputProcuraduria" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputProcuraduria" style="display: none;"
                      (change)="subirArchivo($event, 'procuraduria')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Procuraduría</mat-label>
                    <mat-select formControlName="procuraduria">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['procuraduria']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['procuraduria'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['procuraduria'].fileName }}
                  </small>
                </div>

                <!-- Contraloría -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuContraloria" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuContraloria="matMenu">
                    <button mat-menu-item (click)="verArchivo('contraloria')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputContraloria" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputContraloria" style="display: none;"
                      (change)="subirArchivo($event, 'contraloria')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Contraloría</mat-label>
                    <mat-select formControlName="contraloria">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['contraloria']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['contraloria'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['contraloria'].fileName }}
                  </small>
                </div>

                <!-- Rama Judicial -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuRamaJudicial" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuRamaJudicial="matMenu">
                    <button mat-menu-item (click)="verArchivo('ramaJudicial')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputRamaJudicial" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputRamaJudicial" style="display: none;"
                      (change)="subirArchivo($event, 'ramaJudicial')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Rama Judicial</mat-label>
                    <mat-select formControlName="ramaJudicial">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['ramaJudicial']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['ramaJudicial'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['ramaJudicial'].fileName }}
                  </small>
                </div>

                <!-- Medidas Correctivas -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuMedidasCorrectivas" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuMedidasCorrectivas="matMenu">
                    <button mat-menu-item (click)="verArchivo('medidasCorrectivas')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputMedidasCorrectivas" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputMedidasCorrectivas" style="display: none;"
                      (change)="subirArchivo($event, 'medidasCorrectivas')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Medidas Correctivas</mat-label>
                    <mat-select formControlName="medidasCorrectivas">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['medidasCorrectivas']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['medidasCorrectivas'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['medidasCorrectivas'].fileName }}
                  </small>
                </div>

                <!-- Sisben -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuSisben" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuSisben="matMenu">
                    <button mat-menu-item (click)="verArchivo('sisben')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputSisben" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputSisben" style="display: none;"
                      (change)="subirArchivo($event, 'sisben')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Sisben</mat-label>
                    <mat-select formControlName="sisben">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['sisben']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['sisben'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['sisben'].fileName }}
                  </small>
                </div>

                <!-- OFAC -->
                <div class="input-container">
                  <button mat-icon-button [matMenuTriggerFor]="pdfMenuOfac" aria-label="PDF options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #pdfMenuOfac="matMenu">
                    <button mat-menu-item (click)="verArchivo('ofac')">Ver PDF</button>
                    <button mat-menu-item>
                      <label for="fileInputOfac" style="cursor: pointer;">Subir PDF</label>
                    </button>
                    <input type="file" id="fileInputOfac" style="display: none;"
                      (change)="subirArchivo($event, 'ofac')">
                  </mat-menu>
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>OFAC</mat-label>
                    <mat-select formControlName="ofac">
                      <mat-option *ngFor="let estado of antecedentesEstados" [value]="estado">{{ estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small *ngIf="uploadedFiles['ofac']" class="uploaded-file-name"
                    [ngClass]="{ 'text-danger': uploadedFiles['ofac'].fileName === 'No disponible, falta cargar' }">
                    {{ uploadedFiles['ofac'].fileName }}
                  </small>
                </div>



                <!-- Área para la que Aplica -->
                <div class="input-container">

                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Área para la que Aplica</mat-label>
                    <input matInput formControlName="area_aplica" placeholder="Área para la que Aplica">
                  </mat-form-field>

                </div>

                <button mat-flat-button (click)="imprimirVerificacionesAplicacion()"
                  class="example-full-width">Cargar</button>
              </div>
            </mat-expansion-panel>

            <!-- Entrevista o Prueba Técnica -->
            <mat-expansion-panel>
              <mat-expansion-panel-header [ngStyle]="{'background-color': getPanelColor(getPercentage(formGroup2))}">
                <mat-panel-title>
                  Entrevista o Prueba Técnica ({{ getPercentage(formGroup2) }}% completo)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion" [formGroup]="formGroup2">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Centro de Costo</mat-label>
                  <input matInput formControlName="centroCosto"
                    placeholder="CENTRO DE COSTO ENTREVISTA O PRUEBA TECNICA">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Cargo</mat-label>
                  <input matInput formControlName="cargo" placeholder="CARGO">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Área en la que presentará la entrevista</mat-label>
                  <input matInput formControlName="areaEntrevista"
                    placeholder="ÁREA EN LA QUE PRESENTARA LA ENTREVISTA">
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Fecha de la Prueba o Entrevista</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fechaPruebaEntrevista">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Hora de la Prueba o Entrevista</mat-label>
                  <input matInput type="time" formControlName="horaPruebaEntrevista">
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Dirección o indicación para llegar a la empresa</mat-label>
                  <input matInput formControlName="direccionEmpresa"
                    placeholder="DIRECCION O INDICACION PARA LLEGAR A LA EMPRESA">
                </mat-form-field>
                <button mat-flat-button (click)="imprimirEntrevistaPrueba()" class="example-full-width">Cargar</button>
              </div>
            </mat-expansion-panel>

            <!-- Examen de Salud Ocupacional -->
            <mat-expansion-panel>
              <mat-expansion-panel-header [ngStyle]="{'background-color': getPanelColor(getPercentage(formGroup3))}">
                <mat-panel-title>
                  Examen de Salud Ocupacional ({{ getPercentage(formGroup3) }}% completo)
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="seccion" [formGroup]="formGroup3">



                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>IPS</mat-label>
                  <mat-select formControlName="ips" placeholder="IPS">
                    <mat-option value="JAVAP">JAVAP</mat-option>
                    <mat-option value="ESTRATEGO">ESTRATEGO</mat-option>
                    <mat-option value="HELSEN">HELSEN</mat-option>
                    <mat-option value="ASISTIR">ASISTIR</mat-option>
                    <mat-option value="SIGMEDICAL">SIGMEDICAL</mat-option>
                    <mat-option value="PORSALUD">PORSALUD</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>IPSLAB</mat-label>
                  <mat-select formControlName="ipsLab" placeholder="IPSLAB">
                    <mat-option value="JAVAP">JAVAP</mat-option>
                    <mat-option value="ESTRATEGO">ESTRATEGO</mat-option>
                    <mat-option value="HELSEN">HELSEN</mat-option>
                    <mat-option value="ASISTIR">ASISTIR</mat-option>
                    <mat-option value="SIGMEDICAL">SIGMEDICAL</mat-option>
                    <mat-option value="PORSALUD">PORSALUD</mat-option>
                  </mat-select>
                </mat-form-field>


                <!-- Select múltiple para elegir exámenes -->
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Seleccione los exámenes</mat-label>
                  <mat-select formControlName="selectedExams" multiple>
                    <mat-option *ngFor="let exam of filteredExamOptions" [value]="exam">
                      {{ exam }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <!-- Campos dinámicos para cada examen seleccionado -->
                <div formArrayName="selectedExamsArray">
                  <div *ngFor="let exam of formGroup3.get('selectedExams')?.value; let i = index" [formGroupName]="i">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{ exam }}</mat-label> <!-- Usa el nombre del examen seleccionado directamente -->
                      <mat-select formControlName="aptoStatus">
                        <mat-option value="APTO">APTO</mat-option>
                        <mat-option value="NO APTO">NO APTO</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                





                <button mat-flat-button (click)="imprimirSaludOcupacional()" class="example-full-width">Cargar</button>
              </div>
            </mat-expansion-panel>



            <!-- Contratación -->
            <mat-expansion-panel>
              <mat-expansion-panel-header [ngStyle]="{'background-color': getPanelColor(getPercentage(formGroup4))}">
                <mat-panel-title>
                  Contratación ({{ getPercentage(formGroup4) }}% completo)
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="seccion" [formGroup]="formGroup4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Empresa Usuaria</mat-label>
                  <input matInput formControlName="empresaUsuaria" placeholder="EMPRESA USUARIA">
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Fecha de Ingreso</mat-label>
                  <input matInput [matDatepicker]="pickerFechaIngreso" formControlName="fechaIngreso">
                  <mat-datepicker-toggle matSuffix [for]="pickerFechaIngreso"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFechaIngreso></mat-datepicker>
                </mat-form-field>



                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Salario</mat-label>
                  <input matInput formControlName="salario" placeholder="SALARIO">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Auxilio de Transporte</mat-label>
                  <input matInput formControlName="auxTransporte" placeholder="AUXTRANSPORTE">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Rodamiento</mat-label>
                  <input matInput formControlName="rodamiento" placeholder="RODAMIENTO">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Auxilio de Movilidad</mat-label>
                  <input matInput formControlName="auxMovilidad" placeholder="AUX MOVILIDAD">
                </mat-form-field>
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Bonificación</mat-label>
                  <input matInput formControlName="bonificacion" placeholder="BONIFICACION">
                </mat-form-field>
                <button mat-flat-button (click)="imprimirContratacion()" class="example-full-width">Cargar</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>


      <!--
        <mat-card *ngIf="procesoValido">
      -->
      <mat-card>
        <mat-card-content>
          <div class="tabla">
            <h1 class="titulo">Reportes 901</h1>
            <mat-form-field class="filtro">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
            </mat-form-field>
            <div class="table-container">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="cedula">
                  <th mat-header-cell *matHeaderCellDef> Cédula </th>
                  <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre_completo">
                  <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
                </ng-container>

                <ng-container matColumnDef="clasificacion">
                  <th mat-header-cell *matHeaderCellDef> Clasificación </th>
                  <td mat-cell *matCellDef="let element"> {{element.clasificacion}} </td>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripción </th>
                  <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="observacion">
                  <th mat-header-cell *matHeaderCellDef> Observación </th>
                  <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                </ng-container>

                <ng-container matColumnDef="sede">
                  <th mat-header-cell *matHeaderCellDef> Sede </th>
                  <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="8">No hay datos "{{input.value}}"</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>







    </div>
  </div>
</div>