.aumentar {
  width: 100%;
  margin: 10px;
}

mat-card {
  margin-bottom: 10pt;
}

/* Contenedor de la fila de formularios */
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos */
  width: 100%;
  padding: 10px;
}

/* Campos individuales del formulario */
.form-field {
  flex: 1 1 calc(30% - 20px); /* Ajuste flexible de 3 columnas con espacio entre ellas */
  min-width: 250px; /* Ancho mínimo para mejor responsividad */
  display: flex;
  align-items: center;
}

.cedula{
  margin-top: 10pt;
  align-items: center;
  width: 80%;
}

/* Ajuste flexible de los campos */
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px; /* Espacio entre columnas */
  width: 100%;
  justify-content: space-between;
}

.example-full-width2 {
  flex: 1 1 calc(33.33% - 10px); /* 3 columnas en escritorio */
}

.example-full-width {
  width: 100% !important;
  min-width: 100% !important;
}

.notification-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  background-color: #4a90e2;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.notification-button:hover {
  background-color: #357abd;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.notification-icon {
  color: white;
  font-size: 28px;
}

/* media queries */
@media (max-width: 768px) {

  mat-card {
    min-width: 90vw;
  }

  .card {
    margin-left: -2pt;
    width: 70vw   !important;
  }

  .example-full-width {
    margin-left: -1pt;
    width: 80% !important;
  }

  .example-full-width2 {
    flex: 1 1 100%;
  }
}
