/* You can add global styles to this file, and also import other style files */


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: linear-gradient(120deg, #eeeeee 50%, #FEBB2E 40%);
    background-repeat: no-repeat;
}





/* Estilos generales de tabla y inputs */

.dashboard-container {
    display: flex;
    height: 100vh;
}

.navbar {
    background-color: #404040;
    display: none;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 16px;
    z-index: 4;
}

.sidebar-toggle {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

app-navbar-lateral {
    width: 260px;
}

.dashboard-content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        /* Muestra solo en dispositivos pequeños */
    }

    .dashboard-container {
        flex-direction: column;
        /* Ajusta el contenido en columna */
    }

    app-navbar-lateral {
        width: 100%;
        /* Ocupa todo el ancho en dispositivos móviles */
    }
}

/*--------------------------------------------------------------------*/


.titulo {
    margin-bottom: 20px;
    font-size: 16pt;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.buscar {
    width: 100%;
}

mat-card {
    background-color: white !important;
}

mat-card {
    width: 100%;
    max-width: 75vw;
    padding: 20px;
    margin: 0 auto;
}

.example-full-width {
    width: 100%;
    max-width: 30%;
    height: 80px;
    margin: 3px 10px -5px 10px;
}

.boton {
    margin-top: -20px;
    margin-left: 10px;

}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 60vh;
    overflow-y: auto;
}

.table-container table {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.table-container th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #5e6a75 !important;
    color: white;
    text-align: center;
    align-items: center;
}

.mat-table th.mat-header-cell {
    background-color: #5e6a75 !important;
}

.mat-table {
    width: 100%;
}

.table-container tr:nth-child(even) {
    background-color: #cccccc;
}

.table-container tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.filtro {
    width: 100%;
    max-width: 30%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    mat-card {
        width: 90vw;
        padding: 15px;
        margin: 0 auto;
    }

    .example-full-width {
        width: 100%;
        max-width: 90%;
    }

    .boton {
        width: 100%;
        margin: 5px 0;
    }

    .filtro {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .table-container {
        max-height: 70vh;
    }

    .table-container table {
        font-size: 12px;
        /* Reduce el tamaño de fuente para móviles */
    }

    .informacion .titulo {
        font-size: 10pt;
    }

    .nombre {
        width: 100%;
        font-size: 12pt;
    }

    .search-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .table-container table {
        font-size: 10px;
        /* Aún más pequeño para pantallas muy pequeñas */
    }

    .boton {
        margin-top: 5px;
        width: 100%;
    }

    .search-container {
        flex-direction: column;
    }

}




/*loader*/

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}


.cajaloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

}

.custom-loader {
    width: 100px;
    height: 100px;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#1157fb 25%, #E4E4ED 0 50%, #8CD50A 0 75%, #1157fb 0);
    animation: s2 4s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}

.custom-loader::after {
    margin: 25%;
    animation-duration: 6s;
}

@keyframes s2 {
    100% {
        transform: rotate(1turn)
    }
}




/*--------------------------------vacantes-----------------------------------*/
.vacantes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.vacante-card {
    width: 30vw;
    max-width: 353px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: transform 0.3s;
    min-width: 353px;
}

.vacante-card:hover {
    transform: scale(1.03);
}

.vacante-icon {
    background-color: #3f51b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.vacante-icon mat-icon {
    font-size: 24px;
}

.anadir {
    width: 100%;
    margin-left: 20px;
}

.add-button {
    display: flex;
    align-items: center;
    background-color: #0066b2;
    color: white;
    margin-bottom: 20px;
}

.add-button mat-icon {
    margin-right: 5px;
}

.add-button span {
    font-weight: 500;
}

mat-card-title,
mat-card-subtitle {
    font-weight: bold;
    font-size: 14pt;
}

mat-card-content p {
    margin: 5px 0;
}

.actions-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

@media (max-width: 768px) {
    .vacantes-container {
        width: 100%;
    }

    .vacante-card {
        min-width: 80vw;
    }
}